@import "tailwindcss";

@font-face {
  font-family: 'Nasalization';
  src: url('/fonts/Nasalization Rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Custom layout helper utility */
.font-nasalization {
  font-family: 'Nasalization', sans-serif;
}


@keyframes auroraMove {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  50% { transform: translate(50px, 80px) rotate(180deg); }
  100% { transform: translate(0px, 0px) rotate(360deg); }
}

.animate-aurora-glow {
  animation: auroraMove 25s infinite ease-in-out alternate;
}
